body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #d0d0d0;
}

h1{
    color: #07525c;
}

td{
    padding: 5px;
}

form{
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

a{
    color: #07525c;
}

a:visited{
    color: #26808d;
}

a:hover, a:focus{
    text-decoration: none;
    color: #26808d;
}

a:active{
    color: black;
}
